$primary-color: #d70018;
$primary-color-alpha: rgba(215,0,24,.7);
$secondary-color: #fff;
$third-color: #343a40;
$font-size-m: 20px;
$height-main-nv: 64px;
$height-main-slide: 396px;
$primary-border-radius: 10px;
@mixin primary-bg-hover($color){
    background-color: $color;
    border-radius: $primary-border-radius;
}
@mixin border-radius-top{
    border-top-left-radius: $primary-border-radius;
    border-top-right-radius: $primary-border-radius;
}
@mixin border-radius-bottom{
    border-bottom-left-radius: $primary-border-radius;
    border-bottom-right-radius: $primary-border-radius;
}
@mixin btn-color($color, $background-color){
    color: $color;
    background-color: $background-color;
}
@mixin break-word{
    max-width: 100%;
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
}
@mixin break-word-3{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.6;
}
@mixin boxShow-border {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: $primary-border-radius;
}
.primary-bg-hover {
    @include primary-bg-hover(hsla(0,0%,100%,.2))
}
// ===================BEGIN - CSS GENERAL===========================
html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #4a4a4a;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #444;
}
a:hover{
    color: unset;
}
p{
    margin-bottom: 10px;
}
ul{
    list-style: none;
}
.primary-bg{
    background-color: $primary-color !important;
}
.font-size-m {
    font-size: $font-size-m !important;
}
.mt{
    margin-top: calc($height-main-nv + 15px);
}
.container{
    max-width:1200px;
    .dropdown-item:active{
        background-color: transparent;
    }
}
.product-list{
    padding: 0 6px;
    .col{
        padding: 0px 6px;
    }
    .card{
        @include boxShow-border;
        position: relative;
        border-radius: 15px;
        border: 0;
        cursor: pointer;
        .product__price--percent{
            width: 80px;
            position: absolute;
            height: 31px;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            left: -4px;
            top: -1px;
        }
    }
    .card-img-wrap {
        text-align: center;
        min-height: 170px;
        img{
            width: 160px;
            margin-top: 10px;
        }
    }
    .card-body{
        .card-title{
            height: 65px;
            color: #444;
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;
            @include break-word-3
        }
        .card-text{
            font-size: 12px;
            line-height: 1.5;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #e5e7eb;
            background: #f3f4f6;
        }
    }

}
.box-price{
    display: flex;
    font-weight: 700;
    line-height: 1.1;
    align-items: center;
    .pro-price--show{
        font-size: 16px;
        color: #d70018;
        min-width: 90px;
        @include break-word
    }
    .pro-price--through{
        font-size: 14px;
        color: #707070;
        text-decoration: line-through;
        @include break-word
    }
}
.product__box-rating{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    .gray-star{
        filter: opacity(30%) !important;
    }
    span{
        font-size:12px;
        margin-left: 6px;
    }
}
.box-select{
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    select{
        font-size: 16px;
        padding: 0 5px;
        border: 2px solid #dadada;
        transition: box-shadow .5s ease;
        border-radius: $primary-border-radius;
    }
    select:focus{
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        transition: box-shadow .5s ease;
    }
}
// ===================END - CSS GENERAL===========================
.main-nav{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    z-index: 1000;
    height: $height-main-nv;
    .navbar-brand{
        img{
            width: 161px;
        }
    }
    .nav-item{
        height: 42.5px;
        .nav-link{
            color: $secondary-color;
            .box-icon{
                font-size: 26px;
                margin-right: 4px;
            }
            .box-content{
                font-size: 11px;
                span{
                    font-size: 12px;
                }
            }
        }
    }
    .nav-item:hover{
        @include primary-bg-hover(hsla(0,0%,100%,.2))
    }
    .dropdown-menu{
        @include primary-bg-hover($secondary-color);
        min-width: 144px;
        li:last-of-type .dropdown-item{
            @include border-radius-bottom
        }
        .dropdown-item{
            font-size: 14px;
            padding: 8px 15px;
        }
        .dropdown-item.active {
            background-color: $primary-color-alpha;
        }
        .dropdown-item:hover{
            background-color: $primary-color-alpha;
            color: $secondary-color;
        }
    }
    form{
        min-width: 300px;
        height: 34px;
        outline: none;
        .form-control{
            padding-left: 28px;
        }
        .form-control:focus {
            border-color: rgba($primary-color, $alpha: 0.5);
            box-shadow: 0 0 0 0.25rem rgba($primary-color, $alpha: 0.25);
        }
        button{
            position:absolute;
            left: 3px;  
            top: 50%;
            transform: translateY(-50%);  
            i{
                color: #707070;   
                font-size: 14px;
            }
        }
        .btn:hover {
            border-color: transparent;
        }
    }
}
.main-slide{
    margin-bottom: 15px;
}
.main-menu{
    background-color: #fff;
    overflow: hidden;
    .dropdown-menu{
        width: 205px;
        min-height: $height-main-slide;
        height: $height-main-slide;
        z-index: 100;
        border: 0;
        overflow: auto;
        display: block;
        @include boxShow-border;
        img{
            width: 25px;
            margin-right: 5px;
        }
        span{
            flex: 1;
            font-size: 12px;
            font-weight: 700;
            color: $third-color;
        }
        i{
            color: $third-color;
        }
    }
    .dropdown-menu::-webkit-scrollbar{
        display: none;
    }
}
.product-carousel{
    border-radius: $primary-border-radius;
    width: 100%;
    .carousel-inner{
        @include border-radius-top;
        overflow: hidden;
        padding: 6px;
    }
    .carousel-indicators{
        justify-content: space-between;
        background-color: $secondary-color;
        margin: 0;
        flex-shrink: 0;
        overflow-x: auto;
        max-width: 100%;
        height: 102px;
        @include border-radius-bottom;
        div{
            width: 100%;
            text-indent: 0;
            opacity: 1;
            text-align: center;
            span{
                color: $third-color;
                font-size: 12px;
                line-height: 20px;
                width: 150px;
                display: block;
                transform: translateY(50%);
            }
        }
        div.active {
            font-weight: 700;
            background-color: $primary-color-alpha;
        }
    }
    .carousel-indicators [data-bs-target] {
        margin: 0;
    }
    .carousel-indicators::-webkit-scrollbar{
        display: none;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 32px;
        height: 60px;
        background: #fff;
        opacity: .8;
        border-radius: 100px 0 0 100px;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
        top: 50%;
        transition: .3s;
        i{
            font-size: 22px;
            color: #000;
        }
    }
    .carousel-control-next{
        transform: translate(-2px, -50%);
    }
    .carousel-control-prev{
        border-radius: 0 100px 100px 0;
        transform: translate(2px,-50%);
    }
}
.main-carousel{
    @include boxShow-border;
    margin: 0 10px;
    height: $height-main-slide;
    .carousel-inner{
        overflow: hidden;
        padding: 0;
    }
    .carousel-control-next, .carousel-control-prev{
        background: rgba(0, 0, 0, 0.6);
        i{
            color: #fff;
        }
    }
    .carousel-control-prev{
        transform: translate(-100%,-50%);
    }
    .carousel-control-next{
        transform: translate(100%, -50%);
    }
}
.main-carousel:hover{
    .carousel-control-next, .carousel-control-prev{
        transform: translate(0, -50%);
    }
}
.main-banner{
    height: $height-main-slide;
    padding: 0;
    img{
        cursor: pointer;
        @include boxShow-border;
    }
}
.box-title{
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    padding: 20px 8px 10px;
}
.hotsale-container{
    background: linear-gradient(rgb(241, 50, 55), rgb(248, 207, 214));
    border-radius: $primary-border-radius;
    padding-bottom: 12px;
    margin-bottom: 15px;
}
.hotsale-header {
    .hotsale-menu{
        padding: 8px 0;
        button{
            padding: 4px 10px;
            font-weight: 600;
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 5px;
        }
        button:first-child{
            @include btn-color($color: #fff, $background-color: #111)
        }
        button:nth-child(2){
            @include btn-color($color: #111, $background-color: #fff)
        }
    }
    .box-time{
        color: $secondary-color;
        align-items:center;
        li{
            display: flex;
            font-size: 14px;
            font-weight: 700;
            align-items:center;
            p{
                margin: 0;
            }
            p.time{
                padding: 2px 5px;
                width: 25px;
                height: 25px;
                text-align: center;
                border-radius: 3px;
                background: #fff;
                color: #222;
            }
            p.separate{
                margin: 0 5px;
            }
        }
    }
}
.hotsale-product-list{
    .card{
        height: 365px;
        span{
            position: absolute;
            top: 41%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
    }
}
.product-list-title{
    margin-bottom: 2px;
    h2 > a{
        font-weight: 600;
        font-size: 22px;
        line-height: 40px;
        text-transform: uppercase;
    }
    .list-related-tag > .related-tag{
        border-radius: $primary-border-radius;
        background-color: #f3f4f6;
        border: 1px solid #e5e7eb;
        padding: 5px 10px;
        font-size: 13px;
        white-space: nowrap;
        height: 34px;
        line-height: 1.5;
        display: inline-block;
    }
    .related-tag + .related-tag{
        margin-left: 10px;
    }
    a:hover {
        color: unset;
    }
}
.product-list-line-1{
    .card{
        height: 100%;
        .card-text-wrap{
            height: 66px;
            margin-bottom: 4px;
            @include break-word-3
        }
    }
}
.menu-footer {
    .related-tag{
        background-color: transparent !important;
        border: 0!important;
    }
    .related-tag:hover{
        text-decoration: underline;
    }
    .menu-footer-list{
        margin-bottom: 25px;
        .col{
            padding: 10px 0 0 10px;
        }
        .menu-footer-item{
            position: relative;
            @include boxShow-border;
            min-height: 125px;
            cursor: pointer;
            a{
                background-repeat: no-repeat;
                background-position: 100% 100%;
                display: block;
                height: 125px;
                background-size: cover;
                background-image: url('/img/menu-footer/cate-868.svg') ;
            }
            span{
                max-width: 114px;
                width: 100%;
                margin-top: 5px;
                padding: 0 5px;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                display: block;
                top: 0;
                position: absolute;
            }
        }
        .menu-footer-banner{
            img{
                @include boxShow-border;
            }
        }
        
    }
}
footer{
    overflow-x: hidden;
    @include boxShow-border;
    border-radius: 0;
    margin-top: 40px;
    .footer-top{
        background: #fff!important;
        padding: 15px;
    }
    .footer-bottom{
        background: #f8f8f8;
        min-height: 100px;
        padding: 15px;
        .author{
            font-size: 10px;
            color: rgba(0,0,0,.5);
            margin-bottom: 5px;
            line-height: 2;
            text-align: center;
        }
        .certification{
            img{
                width: auto;
                margin-bottom: 5px;
            }
        }
        .footer-list{
            a{
                font-size: 10px;
            }
        }
    }
    .title{
        font-size: 16px;
        font-weight: 700;
    }
    .footer-list{
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        li{
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 12px;
        }
        a{
            font-size: 12px;
        }
        img{
            border: 1px solid #dee2e6;
            width: 48px;
        }
    }
    .box-warranty{
        background-color: #334168;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-radius: $primary-border-radius;
        width: 100%;
        height: 50px;
        padding: 5px 10px;
        margin: 5px 0 10px;
        justify-content: space-between;
        .box-left{
            padding: 0 4px;
            width: 60%;
            p{
                font-size: 10px;
                color: $secondary-color;
                margin: 0;
            }
            p:first-child{
                font-size: 12px;
                font-weight: 700;
            }
        }
        .box-right{ 
            width: 40%;
        }
    }
}


// ======================================CSS MAP STORE==========================================
.box-header{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    .boxHeader-img{
        img{
            border-radius: $primary-border-radius;
        }
    }
    .boxHeader-content{
        padding: 10px 0;
        li{
            span{
                font-size: 16px;
                margin-top: 5px;
                color: $primary-color;
                font-weight: 700;
            }
        }
        p{
            padding: 0 50px;
            font-size: 16px;
            margin: 0;
            color: #5d5d5d;
        }
    }
}
.box-map{
    padding: 10px;
    background-color: #f6f4f4;
    border-radius: 15px;
    overflow: hidden;
    .box-option{
        .box-option__title{
            color: $primary-color;
            text-align: center;
            font-weight: 650;
            font-size: 18px;
        }
        form{
            .box-option__item{
                position: relative;
                input[type="radio"]{
                    display: none;
                }
                label{
                    padding-left: 35px;
                    position: relative;
                    margin: 0;
                    line-height: 20px;
                    img{
                        height: 40px;
                    }
                }
                input[type="radio"]:checked + label::after{
                    border-radius: 11px;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    left: 4px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: " ";
                    display: block;
                    background: #be0e1d;
                }
                label::before{
                    content: " ";
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 2px solid $primary-color;
                    background-color: transparent;
                }
                .box-option__desc{
                    position: absolute;
                    bottom: -6px;
                    transform: translateY(100%);
                    right: 0;
                    font-size: 14px;
                    min-width: 200px;
                    text-align: right;
                }

            }
        }

    }
    .box-search{
        margin-top: 50px;
        .box-input, .box-select{
            position: relative;
            text-align: left;
            height: 40px;
            select, input{
                width: 400px;
                height: 40px;
                font-size: 16px;
                padding: 0 5px;
                border: 2px solid #dadada;
                transition: box-shadow .5s ease;
                border-radius: $primary-border-radius;
            }
            input:focus{
                outline: none;
                border-color: #9ecaed;
                box-shadow: 0 0 10px #9ecaed;
                transition: box-shadow .5s ease;
            }
            select{
                width: 200px;
            }
        }
        .box-select.map{
            width: 450px;
            margin-left: 150px;
        }
    }
    .box-google-map{
        position: relative;
        .boxMap-stores{
            background-color: #fafafa;
            position: absolute;
            top: 0;
            left: 0;
            width: 400px;
            height: 500px;
            overflow-y: scroll;
            border: 1px solid #dedede;
            border-right: none;
            .boxMap-stores-count{
                background-color: #5e5e5e;
                color: #fff;
                padding: 2px 10px;
                font-size: 16px;
                font-weight: 400;    
                text-align:center;        
            }
        }
        .boxMap-stores::-webkit-scrollbar{
            width: 6px;
            height: 190px;
            border-radius: 20px;

        }
        .boxMap-stores::-webkit-scrollbar-thumb{ 
            background-color: #ABA9A9;
            border-radius: 10px;
            height: 190px;
        }
        .boxMap-store{
            padding: 5px 10px;
            gap: 3px;
            border-bottom: 1px solid #dedede;
            cursor: pointer;
            .boxMap-store__address{
                color: $primary-color;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4;
                margin: 0;
            }
        }
        .boxMap-store__info{
            p{
                font-size: 12px;
                color: red;
                font-weight: 700;
                margin-left: 10px;
                margin-bottom: 0;
            }
        }
        .boxMap-store__phone{
            span{
                font-size: 13px;
                color: #6c6c6c;
                margin-left: 10px;
            }
        }
        .boxMap-store__contact{
            a{
                font-size: 12px;
                font-weight: 500;
                display: flex;
                margin-right: 4px;
                align-items: center;
            }
            .contact-tel{
                color: red
            }
            .contact-zalo{
                color: blue;
            }

        }
    }
}
.box-slide{
    margin-bottom: 40px;
    .box-slide-wrap{
        margin-top: 40px;
        margin-bottom: 20px;
        h3{
            color: $primary-color;
            font-size: 18px;
            margin: 10px 0;
            font-weight: 500;
        }
    }
    .box-slide-carousel{
        .carousel-indicators{
            justify-content: center;
            bottom: -40px;
            height: unset;
            button[data-bs-target*="#boxSlide"]{
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 100%;
                width: 8px;
                height: 8px;
                margin-right: 4px;              
            }
            button[data-bs-target*="#boxSlide"].active{
                background-color: $primary-color;
            }
        }
        .card{
            box-shadow: unset;
            .card-img-wrap{
                max-height: 202px;
                overflow: hidden;
            }
            img{
                width: 100%;
                margin: 0;
            }
        }
    }
}
.box-contact{
    .box-contact__table{
        border-collapse: collapse;
        border-spacing: 0;
        color: #363636;
        width: 100%;
        a{
            color: #485fc7;
        }
        p{
            margin: 0;
        }
        p:first-child{
            font-weight: 600;
        }
        th,td{
            font-size: 14px;
            border: 1px solid #e9e9e9;
            padding: 7px 10px;
        }
        thead{
            background-color: #e2efdb;
            text-align: center;
            th{
                font-size: 14px;
                border: 1px solid #e9e9e9;
                text-transform: uppercase;
            }
        }
        tbody{
            li{
                list-style-type: circle;
                line-height: 1.6;
            }
        }
    }
}




// ======================================CSS PRODUCT==========================================
.breadcrumb-container.mt{
    position: fixed;
    margin: 0;
    top: $height-main-nv;
    background: #fff;
    width: 100%;
    border-radius: 0 !important;
    z-index:  100;
    @include boxShow-border;
    nav{
        width: 100%;
        height: 30px;
        .breadcrumb{
            height: 100%;
        }
        .breadcrumb-item{
            display: flex;
            align-items: center;
            margin-right: 7px;
            a{
                color: #707070;
                white-space: nowrap;
                font-size: 12px;
            }
        }
        .breadcrumb-item+.breadcrumb-item::before{
            content: " \203A";
            font-size: 17px;
        }
    }
}
.box-detail-product{
    margin-top: calc($height-main-nv + 30px);
}
.box-product-intro{
    height: 30px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    .box-product-name{
        h1{
            color: #0a263c;
            margin: 0 10px 0 0;
            font-size: 18px;
            font-weight: 700;
            line-height: 2;
            @include break-word-3
        }
    }
}
.box-product-info{
    border-top: 2px solid #f5f5f5;
    padding-top: 10px;
    .detail-product-carousel{
        border: 1px solid #d1d5db;
        box-shadow: unset;
        height: 400px;
        width: 398px;
        margin: 0;
        .carousel-indicators{
            transform: translateY(110%);
            background-color: transparent;
            height: 65px;
            [data-bs-target]{
                background-color: transparent;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 0.5rem;
                    background: #fff;
                    border: 1px solid #d1d5db;
                    overflow: hidden;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
            [data-bs-target].active{
                img{
                    border-color: $primary-color;
                }
            }
        }
        
        .carousel-item{
            height: 100%;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 80% !important;
            }
        }
    }
    .box-product__infomation{
        .pro-price--show{
            font-size: 18px;
            margin-right: 10px;
        }
        .box-choice.active::after{
            content: "✓";
            width: 18px;
            height: 13px;
            border-radius: 0 0 10px 0;
            background-color: $primary-color;
            color: #fff;
            font-size: 10px;
            padding-bottom: 15px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .box-choice.active{
            border-color: $primary-color;
        }
    }
    .box-link{
        .box-choice{
            border: 1px solid #d1d5db;
            position: relative;
            padding: 5px 4px;
            font-size: 12px;
            text-align: center;
            border-radius: 8px;
            background: #fff;
            width: calc(33.33333% - 6.66667px);
            @include break-word-3
        }
    }
    .box-product-variants{
        p{
            font-size: 14px;
            font-weight: 700;
            color: #444;
            margin: 10px 0;
        }
        .box-choice{
            display: flex;
            align-items: center;
            img{
                width: 30px;
            }
            .box-content{
                text-align: left;
                padding-left: 5px;
            }

        }
    }
    .box-product-promotion{
        border-radius: $primary-border-radius;
        border: 1px solid #fee2e2;
        margin: 15px 0;
        .box-product-promotion-header{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 42px;
            background-color: #fee2e2;
            color: $primary-color;
            font-weight: 600;
            padding: 8px;
            @include border-radius-top;
            img{
                width: 20px;
            }
        }
        .box-product-promotion-content{
            padding: 8px;
            margin-bottom: 0;
            .box-product-promotion-list{
                padding-left: 0;
                li{
                    display: flex;
                    align-items: flex-start;
                    margin: 8px 0;
                    .number-list{
                        width: 15px;
                        height: 15px;
                        color: #fff;
                        text-align: center;
                        font-size: 10px;
                        border-radius: 100%;
                        font-weight: 600;
                        margin: 2px 5px 0 0;
                        background-color: $primary-color;
                    }
                    a{
                        width: calc(100% - 25px);
                        font-size: 14px;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
            .box-hotsale{
                background-color: #fee2e2;
                padding: 5px 10px;
                margin: 10px auto;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 700;
                color: #000;
                span{
                    color: $primary-color;
                }
            }
        }
    }
    .box-product-promotion.extra{
        border: 1px solid #d1d5db;
        .box-product-promotion-header{
            background-color: #d1d5db;
            color: #0a0a0a;
        }
        .box-product-promotion-content{
            .box-product-promotion-list{
                .number-list{
                    background-color: transparent;
                }
                a{
                    img{
                        width: 40px;
                    }
                }
            }
        }
    }
    .product-btn{
        display: flex; 
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        .order-btn{
            background: linear-gradient(#f52f32,#e11b1e);
            color: #fff;
            border-radius: 10px;
            outline: none;
            border: none;
            margin-bottom: 0;
            flex-direction: column;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            p{
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            span{
                font-size: 14px;
            }
        }
        .order-btn.big-size{
            width: calc(100% - 70px);
            height: 60px;
        }
        .add-to-cart-btn{
            height: 60px;
            width: 60px;
            border: 2px solid $primary-color;
            background-color: unset;
            border-radius: 10px;
            flex-direction: column;
            display: inline-flex;
            padding: 0;
            align-items: center;
            justify-content: center;
            img{
                width: 30px;
            }
            span{
                font-size: 7.5px;
                margin: 0;
                padding: 0;
                color: #e04040;
                font-weight: 600;
            }
        }
        .installment-btn{
            background: linear-gradient(180deg,#3a78d0,#277cea);
            width: calc(50% - 5px);
        }
    }
    .box-on-stock-stores{
        .box-select{
            gap: 10px;
            select{
                width: calc(50% - 10px);
                height: 36px;
                border: 1px solid #e5e7eb;
                font-size: 14px;
            }
        }
        .box-on-stock-stores__count{
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}

