@charset "UTF-8";
.primary-bg-hover {
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border-radius: 10px;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #4a4a4a;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: unset;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.primary-bg {
  background-color: #d70018 !important;
}

.font-size-m {
  font-size: 20px !important;
}

.mt {
  margin-top: 79px;
}

.container {
  max-width: 1200px;
}
.container .dropdown-item:active {
  background-color: transparent;
}

.product-list {
  padding: 0 6px;
}
.product-list .col {
  padding: 0px 6px;
}
.product-list .card {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
  position: relative;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}
.product-list .card .product__price--percent {
  width: 80px;
  position: absolute;
  height: 31px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  left: -4px;
  top: -1px;
}
.product-list .card-img-wrap {
  text-align: center;
  min-height: 170px;
}
.product-list .card-img-wrap img {
  width: 160px;
  margin-top: 10px;
}
.product-list .card-body .card-title {
  height: 65px;
  color: #444;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.6;
}
.product-list .card-body .card-text {
  font-size: 12px;
  line-height: 1.5;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  background: #f3f4f6;
}

.box-price {
  display: flex;
  font-weight: 700;
  line-height: 1.1;
  align-items: center;
}
.box-price .pro-price--show {
  font-size: 16px;
  color: #d70018;
  min-width: 90px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.box-price .pro-price--through {
  font-size: 14px;
  color: #707070;
  text-decoration: line-through;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product__box-rating {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.product__box-rating .gray-star {
  filter: opacity(30%) !important;
}
.product__box-rating span {
  font-size: 12px;
  margin-left: 6px;
}

.box-select {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box-select select {
  font-size: 16px;
  padding: 0 5px;
  border: 2px solid #dadada;
  transition: box-shadow 0.5s ease;
  border-radius: 10px;
}
.box-select select:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transition: box-shadow 0.5s ease;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  height: 64px;
}
.main-nav .navbar-brand img {
  width: 161px;
}
.main-nav .nav-item {
  height: 42.5px;
}
.main-nav .nav-item .nav-link {
  color: #fff;
}
.main-nav .nav-item .nav-link .box-icon {
  font-size: 26px;
  margin-right: 4px;
}
.main-nav .nav-item .nav-link .box-content {
  font-size: 11px;
}
.main-nav .nav-item .nav-link .box-content span {
  font-size: 12px;
}
.main-nav .nav-item:hover {
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border-radius: 10px;
}
.main-nav .dropdown-menu {
  background-color: #fff;
  border-radius: 10px;
  min-width: 144px;
}
.main-nav .dropdown-menu li:last-of-type .dropdown-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-nav .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 15px;
}
.main-nav .dropdown-menu .dropdown-item.active {
  background-color: rgba(215, 0, 24, 0.7);
}
.main-nav .dropdown-menu .dropdown-item:hover {
  background-color: rgba(215, 0, 24, 0.7);
  color: #fff;
}
.main-nav form {
  min-width: 300px;
  height: 34px;
  outline: none;
}
.main-nav form .form-control {
  padding-left: 28px;
}
.main-nav form .form-control:focus {
  border-color: rgba(215, 0, 24, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(215, 0, 24, 0.25);
}
.main-nav form button {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.main-nav form button i {
  color: #707070;
  font-size: 14px;
}
.main-nav form .btn:hover {
  border-color: transparent;
}

.main-slide {
  margin-bottom: 15px;
}

.main-menu {
  background-color: #fff;
  overflow: hidden;
}
.main-menu .dropdown-menu {
  width: 205px;
  min-height: 396px;
  height: 396px;
  z-index: 100;
  border: 0;
  overflow: auto;
  display: block;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
}
.main-menu .dropdown-menu img {
  width: 25px;
  margin-right: 5px;
}
.main-menu .dropdown-menu span {
  flex: 1;
  font-size: 12px;
  font-weight: 700;
  color: #343a40;
}
.main-menu .dropdown-menu i {
  color: #343a40;
}
.main-menu .dropdown-menu::-webkit-scrollbar {
  display: none;
}

.product-carousel {
  border-radius: 10px;
  width: 100%;
}
.product-carousel .carousel-inner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  padding: 6px;
}
.product-carousel .carousel-indicators {
  justify-content: space-between;
  background-color: #fff;
  margin: 0;
  flex-shrink: 0;
  overflow-x: auto;
  max-width: 100%;
  height: 102px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-carousel .carousel-indicators div {
  width: 100%;
  text-indent: 0;
  opacity: 1;
  text-align: center;
}
.product-carousel .carousel-indicators div span {
  color: #343a40;
  font-size: 12px;
  line-height: 20px;
  width: 150px;
  display: block;
  transform: translateY(50%);
}
.product-carousel .carousel-indicators div.active {
  font-weight: 700;
  background-color: rgba(215, 0, 24, 0.7);
}
.product-carousel .carousel-indicators [data-bs-target] {
  margin: 0;
}
.product-carousel .carousel-indicators::-webkit-scrollbar {
  display: none;
}
.product-carousel .carousel-control-next, .product-carousel .carousel-control-prev {
  width: 32px;
  height: 60px;
  background: #fff;
  opacity: 0.8;
  border-radius: 100px 0 0 100px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  transition: 0.3s;
}
.product-carousel .carousel-control-next i, .product-carousel .carousel-control-prev i {
  font-size: 22px;
  color: #000;
}
.product-carousel .carousel-control-next {
  transform: translate(-2px, -50%);
}
.product-carousel .carousel-control-prev {
  border-radius: 0 100px 100px 0;
  transform: translate(2px, -50%);
}

.main-carousel {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
  margin: 0 10px;
  height: 396px;
}
.main-carousel .carousel-inner {
  overflow: hidden;
  padding: 0;
}
.main-carousel .carousel-control-next, .main-carousel .carousel-control-prev {
  background: rgba(0, 0, 0, 0.6);
}
.main-carousel .carousel-control-next i, .main-carousel .carousel-control-prev i {
  color: #fff;
}
.main-carousel .carousel-control-prev {
  transform: translate(-100%, -50%);
}
.main-carousel .carousel-control-next {
  transform: translate(100%, -50%);
}

.main-carousel:hover .carousel-control-next, .main-carousel:hover .carousel-control-prev {
  transform: translate(0, -50%);
}

.main-banner {
  height: 396px;
  padding: 0;
}
.main-banner img {
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
}

.box-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px 8px 10px;
}

.hotsale-container {
  background: linear-gradient(rgb(241, 50, 55), rgb(248, 207, 214));
  border-radius: 10px;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.hotsale-header .hotsale-menu {
  padding: 8px 0;
}
.hotsale-header .hotsale-menu button {
  padding: 4px 10px;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.hotsale-header .hotsale-menu button:first-child {
  color: #fff;
  background-color: #111;
}
.hotsale-header .hotsale-menu button:nth-child(2) {
  color: #111;
  background-color: #fff;
}
.hotsale-header .box-time {
  color: #fff;
  align-items: center;
}
.hotsale-header .box-time li {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
}
.hotsale-header .box-time li p {
  margin: 0;
}
.hotsale-header .box-time li p.time {
  padding: 2px 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  color: #222;
}
.hotsale-header .box-time li p.separate {
  margin: 0 5px;
}

.hotsale-product-list .card {
  height: 365px;
}
.hotsale-product-list .card span {
  position: absolute;
  top: 41%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.product-list-title {
  margin-bottom: 2px;
}
.product-list-title h2 > a {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
}
.product-list-title .list-related-tag > .related-tag {
  border-radius: 10px;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  padding: 5px 10px;
  font-size: 13px;
  white-space: nowrap;
  height: 34px;
  line-height: 1.5;
  display: inline-block;
}
.product-list-title .related-tag + .related-tag {
  margin-left: 10px;
}
.product-list-title a:hover {
  color: unset;
}

.product-list-line-1 .card {
  height: 100%;
}
.product-list-line-1 .card .card-text-wrap {
  height: 66px;
  margin-bottom: 4px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.6;
}

.menu-footer .related-tag {
  background-color: transparent !important;
  border: 0 !important;
}
.menu-footer .related-tag:hover {
  text-decoration: underline;
}
.menu-footer .menu-footer-list {
  margin-bottom: 25px;
}
.menu-footer .menu-footer-list .col {
  padding: 10px 0 0 10px;
}
.menu-footer .menu-footer-list .menu-footer-item {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
  min-height: 125px;
  cursor: pointer;
}
.menu-footer .menu-footer-list .menu-footer-item a {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: block;
  height: 125px;
  background-size: cover;
  background-image: url("/img/menu-footer/cate-868.svg");
}
.menu-footer .menu-footer-list .menu-footer-item span {
  max-width: 114px;
  width: 100%;
  margin-top: 5px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  top: 0;
  position: absolute;
}
.menu-footer .menu-footer-list .menu-footer-banner img {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
}

footer {
  overflow-x: hidden;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
  border-radius: 0;
  margin-top: 40px;
}
footer .footer-top {
  background: #fff !important;
  padding: 15px;
}
footer .footer-bottom {
  background: #f8f8f8;
  min-height: 100px;
  padding: 15px;
}
footer .footer-bottom .author {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  line-height: 2;
  text-align: center;
}
footer .footer-bottom .certification img {
  width: auto;
  margin-bottom: 5px;
}
footer .footer-bottom .footer-list a {
  font-size: 10px;
}
footer .title {
  font-size: 16px;
  font-weight: 700;
}
footer .footer-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
footer .footer-list li {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
footer .footer-list a {
  font-size: 12px;
}
footer .footer-list img {
  border: 1px solid #dee2e6;
  width: 48px;
}
footer .box-warranty {
  background-color: #334168;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  margin: 5px 0 10px;
  justify-content: space-between;
}
footer .box-warranty .box-left {
  padding: 0 4px;
  width: 60%;
}
footer .box-warranty .box-left p {
  font-size: 10px;
  color: #fff;
  margin: 0;
}
footer .box-warranty .box-left p:first-child {
  font-size: 12px;
  font-weight: 700;
}
footer .box-warranty .box-right {
  width: 40%;
}

.box-header {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 30px;
}
.box-header .boxHeader-img img {
  border-radius: 10px;
}
.box-header .boxHeader-content {
  padding: 10px 0;
}
.box-header .boxHeader-content li span {
  font-size: 16px;
  margin-top: 5px;
  color: #d70018;
  font-weight: 700;
}
.box-header .boxHeader-content p {
  padding: 0 50px;
  font-size: 16px;
  margin: 0;
  color: #5d5d5d;
}

.box-map {
  padding: 10px;
  background-color: #f6f4f4;
  border-radius: 15px;
  overflow: hidden;
}
.box-map .box-option .box-option__title {
  color: #d70018;
  text-align: center;
  font-weight: 650;
  font-size: 18px;
}
.box-map .box-option form .box-option__item {
  position: relative;
}
.box-map .box-option form .box-option__item input[type=radio] {
  display: none;
}
.box-map .box-option form .box-option__item label {
  padding-left: 35px;
  position: relative;
  margin: 0;
  line-height: 20px;
}
.box-map .box-option form .box-option__item label img {
  height: 40px;
}
.box-map .box-option form .box-option__item input[type=radio]:checked + label::after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  content: " ";
  display: block;
  background: #be0e1d;
}
.box-map .box-option form .box-option__item label::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 11px;
  border: 2px solid #d70018;
  background-color: transparent;
}
.box-map .box-option form .box-option__item .box-option__desc {
  position: absolute;
  bottom: -6px;
  transform: translateY(100%);
  right: 0;
  font-size: 14px;
  min-width: 200px;
  text-align: right;
}
.box-map .box-search {
  margin-top: 50px;
}
.box-map .box-search .box-input, .box-map .box-search .box-select {
  position: relative;
  text-align: left;
  height: 40px;
}
.box-map .box-search .box-input select, .box-map .box-search .box-input input, .box-map .box-search .box-select select, .box-map .box-search .box-select input {
  width: 400px;
  height: 40px;
  font-size: 16px;
  padding: 0 5px;
  border: 2px solid #dadada;
  transition: box-shadow 0.5s ease;
  border-radius: 10px;
}
.box-map .box-search .box-input input:focus, .box-map .box-search .box-select input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transition: box-shadow 0.5s ease;
}
.box-map .box-search .box-input select, .box-map .box-search .box-select select {
  width: 200px;
}
.box-map .box-search .box-select.map {
  width: 450px;
  margin-left: 150px;
}
.box-map .box-google-map {
  position: relative;
}
.box-map .box-google-map .boxMap-stores {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #dedede;
  border-right: none;
}
.box-map .box-google-map .boxMap-stores .boxMap-stores-count {
  background-color: #5e5e5e;
  color: #fff;
  padding: 2px 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.box-map .box-google-map .boxMap-stores::-webkit-scrollbar {
  width: 6px;
  height: 190px;
  border-radius: 20px;
}
.box-map .box-google-map .boxMap-stores::-webkit-scrollbar-thumb {
  background-color: #ABA9A9;
  border-radius: 10px;
  height: 190px;
}
.box-map .box-google-map .boxMap-store {
  padding: 5px 10px;
  gap: 3px;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
}
.box-map .box-google-map .boxMap-store .boxMap-store__address {
  color: #d70018;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}
.box-map .box-google-map .boxMap-store__info p {
  font-size: 12px;
  color: red;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 0;
}
.box-map .box-google-map .boxMap-store__phone span {
  font-size: 13px;
  color: #6c6c6c;
  margin-left: 10px;
}
.box-map .box-google-map .boxMap-store__contact a {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  margin-right: 4px;
  align-items: center;
}
.box-map .box-google-map .boxMap-store__contact .contact-tel {
  color: red;
}
.box-map .box-google-map .boxMap-store__contact .contact-zalo {
  color: blue;
}

.box-slide {
  margin-bottom: 40px;
}
.box-slide .box-slide-wrap {
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-slide .box-slide-wrap h3 {
  color: #d70018;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500;
}
.box-slide .box-slide-carousel .carousel-indicators {
  justify-content: center;
  bottom: -40px;
  height: unset;
}
.box-slide .box-slide-carousel .carousel-indicators button[data-bs-target*="#boxSlide"] {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 4px;
}
.box-slide .box-slide-carousel .carousel-indicators button[data-bs-target*="#boxSlide"].active {
  background-color: #d70018;
}
.box-slide .box-slide-carousel .card {
  box-shadow: unset;
}
.box-slide .box-slide-carousel .card .card-img-wrap {
  max-height: 202px;
  overflow: hidden;
}
.box-slide .box-slide-carousel .card img {
  width: 100%;
  margin: 0;
}

.box-contact .box-contact__table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #363636;
  width: 100%;
}
.box-contact .box-contact__table a {
  color: #485fc7;
}
.box-contact .box-contact__table p {
  margin: 0;
}
.box-contact .box-contact__table p:first-child {
  font-weight: 600;
}
.box-contact .box-contact__table th, .box-contact .box-contact__table td {
  font-size: 14px;
  border: 1px solid #e9e9e9;
  padding: 7px 10px;
}
.box-contact .box-contact__table thead {
  background-color: #e2efdb;
  text-align: center;
}
.box-contact .box-contact__table thead th {
  font-size: 14px;
  border: 1px solid #e9e9e9;
  text-transform: uppercase;
}
.box-contact .box-contact__table tbody li {
  list-style-type: circle;
  line-height: 1.6;
}

.breadcrumb-container.mt {
  position: fixed;
  margin: 0;
  top: 64px;
  background: #fff;
  width: 100%;
  border-radius: 0 !important;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
}
.breadcrumb-container.mt nav {
  width: 100%;
  height: 30px;
}
.breadcrumb-container.mt nav .breadcrumb {
  height: 100%;
}
.breadcrumb-container.mt nav .breadcrumb-item {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.breadcrumb-container.mt nav .breadcrumb-item a {
  color: #707070;
  white-space: nowrap;
  font-size: 12px;
}
.breadcrumb-container.mt nav .breadcrumb-item + .breadcrumb-item::before {
  content: " ›";
  font-size: 17px;
}

.box-detail-product {
  margin-top: 94px;
}

.box-product-intro {
  height: 30px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.box-product-intro .box-product-name h1 {
  color: #0a263c;
  margin: 0 10px 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.6;
}

.box-product-info {
  border-top: 2px solid #f5f5f5;
  padding-top: 10px;
}
.box-product-info .detail-product-carousel {
  border: 1px solid #d1d5db;
  box-shadow: unset;
  height: 400px;
  width: 398px;
  margin: 0;
}
.box-product-info .detail-product-carousel .carousel-indicators {
  transform: translateY(110%);
  background-color: transparent;
  height: 65px;
}
.box-product-info .detail-product-carousel .carousel-indicators [data-bs-target] {
  background-color: transparent;
}
.box-product-info .detail-product-carousel .carousel-indicators [data-bs-target] img {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #d1d5db;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
}
.box-product-info .detail-product-carousel .carousel-indicators [data-bs-target].active img {
  border-color: #d70018;
}
.box-product-info .detail-product-carousel .carousel-item {
  height: 100%;
}
.box-product-info .detail-product-carousel .carousel-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-product-info .detail-product-carousel .carousel-item img {
  width: 80% !important;
}
.box-product-info .box-product__infomation .pro-price--show {
  font-size: 18px;
  margin-right: 10px;
}
.box-product-info .box-product__infomation .box-choice.active::after {
  content: "✓";
  width: 18px;
  height: 13px;
  border-radius: 0 0 10px 0;
  background-color: #d70018;
  color: #fff;
  font-size: 10px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.box-product-info .box-product__infomation .box-choice.active {
  border-color: #d70018;
}
.box-product-info .box-link .box-choice {
  border: 1px solid #d1d5db;
  position: relative;
  padding: 5px 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  width: calc(33.33333% - 6.66667px);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.6;
}
.box-product-info .box-product-variants p {
  font-size: 14px;
  font-weight: 700;
  color: #444;
  margin: 10px 0;
}
.box-product-info .box-product-variants .box-choice {
  display: flex;
  align-items: center;
}
.box-product-info .box-product-variants .box-choice img {
  width: 30px;
}
.box-product-info .box-product-variants .box-choice .box-content {
  text-align: left;
  padding-left: 5px;
}
.box-product-info .box-product-promotion {
  border-radius: 10px;
  border: 1px solid #fee2e2;
  margin: 15px 0;
}
.box-product-info .box-product-promotion .box-product-promotion-header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 42px;
  background-color: #fee2e2;
  color: #d70018;
  font-weight: 600;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box-product-info .box-product-promotion .box-product-promotion-header img {
  width: 20px;
}
.box-product-info .box-product-promotion .box-product-promotion-content {
  padding: 8px;
  margin-bottom: 0;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-product-promotion-list {
  padding-left: 0;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-product-promotion-list li {
  display: flex;
  align-items: flex-start;
  margin: 8px 0;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-product-promotion-list li .number-list {
  width: 15px;
  height: 15px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 100%;
  font-weight: 600;
  margin: 2px 5px 0 0;
  background-color: #d70018;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-product-promotion-list li a {
  width: calc(100% - 25px);
  font-size: 14px;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-product-promotion-list li a:hover {
  text-decoration: underline;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-hotsale {
  background-color: #fee2e2;
  padding: 5px 10px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.box-product-info .box-product-promotion .box-product-promotion-content .box-hotsale span {
  color: #d70018;
}
.box-product-info .box-product-promotion.extra {
  border: 1px solid #d1d5db;
}
.box-product-info .box-product-promotion.extra .box-product-promotion-header {
  background-color: #d1d5db;
  color: #0a0a0a;
}
.box-product-info .box-product-promotion.extra .box-product-promotion-content .box-product-promotion-list .number-list {
  background-color: transparent;
}
.box-product-info .box-product-promotion.extra .box-product-promotion-content .box-product-promotion-list a img {
  width: 40px;
}
.box-product-info .product-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.box-product-info .product-btn .order-btn {
  background: linear-gradient(#f52f32, #e11b1e);
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 0;
  flex-direction: column;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.box-product-info .product-btn .order-btn p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.box-product-info .product-btn .order-btn span {
  font-size: 14px;
}
.box-product-info .product-btn .order-btn.big-size {
  width: calc(100% - 70px);
  height: 60px;
}
.box-product-info .product-btn .add-to-cart-btn {
  height: 60px;
  width: 60px;
  border: 2px solid #d70018;
  background-color: unset;
  border-radius: 10px;
  flex-direction: column;
  display: inline-flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.box-product-info .product-btn .add-to-cart-btn img {
  width: 30px;
}
.box-product-info .product-btn .add-to-cart-btn span {
  font-size: 7.5px;
  margin: 0;
  padding: 0;
  color: #e04040;
  font-weight: 600;
}
.box-product-info .product-btn .installment-btn {
  background: linear-gradient(180deg, #3a78d0, #277cea);
  width: calc(50% - 5px);
}
.box-product-info .box-on-stock-stores .box-select {
  gap: 10px;
}
.box-product-info .box-on-stock-stores .box-select select {
  width: calc(50% - 10px);
  height: 36px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}
.box-product-info .box-on-stock-stores .box-on-stock-stores__count {
  font-size: 14px;
  margin-bottom: 5px;
}/*# sourceMappingURL=style.css.map */