.box1{
    background-color:red;
    border: 50px groove  rgb(238, 121, 121);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.box2{
    background-color:red;
    border: 50px ridge rgb(238, 121, 121);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.box3{
    background-color:red;
    border: 50px inset rgb(238, 121, 121);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.box4{
    background-color:red;
    border: 50px outset rgb(238, 121, 121);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.box5{
    background-color:red;
    border: 50px hidden rgb(238, 121, 121);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}